body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: sticky;
    top: 0;
}

nav ul{
    display:flex;
    background-color: black;
    height: 60px;
}


nav ul li{
    list-style-type: none;
    padding: 0 20px;
    color: white;
    display: flex;
    align-items: center;
}

.logo{
    font-weight:bolder;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.logo img{
    height: 50px;
}



.container{
    min-height: 70vh;
    width: 70%;
    background-color: rgb(36, 34, 34);
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    margin: 23px auto;
    border-radius: 10px;
    padding: 34px;
    background-image: url("bg.jpg");
}


.listplay{
    margin-right: 10px;
    cursor: pointer;
}


.controls{
    position:sticky;
    bottom:0;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.playericons{
    margin-top: 20px;
}

.playericons i{
    cursor:pointer;
    margin: 0 20px;
}

#prgbar{
    width : 60vw;
    color: rgb(0, 255, 0);
    cursor: pointer;
}



.songitem{
    height: 50px;
    display: flex;
    background-color: rgb(191, 176, 176);
    width: 100%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.timespan{
    padding: 0 5px;
    margin: 0 23px;
}

.songitem img{
    width: 50px;
    /* margin: 0 23px; */
}

.list{
    margin-top: 25px;
}

.songinfo{
    display: flex;
    position: absolute;
    left: 0;
    align-items: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.namegif img{
    opacity: 0;
    transition: opacity 0.1s ease-in;
}